<ul>
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home fa-2x"></i>
      <span class="nav-text">
          Home
      </span>
    <% end %>
  </li>
  </li>
  <li>
    <%= link_to jobs_path do %>
      <i class="fa fa-pencil-alt fa-2x"></i>
      <span class="nav-text">
          Lavori
      </span>
    <% end %>
  </li>
  <li>
    <%= link_to periods_path do %>
        <i class="fa fa-calendar fa-2x"></i>
        <span class="nav-text">
            Calendario
        </span>
    <% end %>
  </li>
  <li>
    <%= link_to exports_path do %>
      <i class="fa fa-file-download fa-2x"></i>
      <span class="nav-text">
          Esporta
      </span>
    <% end %>
  </li>
</ul>

<ul class="logout">
  <li>
    <%= link_to pages_logout_path do %>
      <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
            Logout
        </span>
    <% end %>
  </li>
</ul>
