<li class='job'>
  <p><%= job.title %></p>

  <div class='last-updated'>
    <p class='caption'>
      Ultima modifica
    </p>
<div class="postdate">
  <div class="month">
    <p><%= job.last_updated_month %></p>
  </div>
  <div class="day">
    <p><%= job.last_updated_day %></p>
  </div> 
  <div class="year">
    <p><%= job.last_updated_year %></p>
  </div>
  <div class="time">
    <p><%= job.last_updated_time %></p>
  </div> 
</div>
  </div>
</li>